.field_set{
margin-right: 600px;
}

.container{
margin-left: 250px;
margin-top: 40px;
margin-right: 250px;
}
.get_answer{
font-weight: bold;
font-size: 20px;
}
.spanning{
margin-left: 300px;
}